body{
  background-color: #edebebf4;
}

.header{
  font-size:4rem;
}

.save-button:hover {
  background: green;
}

.add-button:hover {
  background: blue;
}

.cancel-button:hover {
  background: red;
}

.delete-button:hover {
  background: red;
}

.form-control{
  width: 80%;
  background-color: #eae6e6f4;
}

.body{
  align-items: center;
  padding-left: 20%;
}

.body2 p{
  margin: 0 0 0 0;
}

.body2 .card{
  margin-bottom: 1rem;
  border: 0.2rem solid black;
}
